APScheduler==3.6.3
asttokens==2.0.4
async-generator==1.10
attrs==20.3.0
bleach==3.3.0
blis==0.7.4
boto3==1.17.57
botocore==1.20.57
bpemb==0.3.3
catalogue==2.0.3
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
cloudpickle==1.6.0
colorama==0.4.4
conllu==4.4
cycler==0.10.0
cymem==2.0.5
decorator==4.4.2
defusedxml==0.7.1
Deprecated==1.2.12
entrypoints==0.3
executing==0.5.4
filelock==3.0.12
flair==0.4.1
future==0.18.2
gensim==4.0.1
greenlet==1.0.0
hyperopt==0.2.5
icecream==2.1.0
idna==2.10
ipython-genutils==0.2.0
Jinja2==2.11.3
jmespath==0.10.0
joblib==1.0.1
jsonschema==3.2.0
negspacy==1.0.0
networkx==2.5.1
nltk==3.6.2
numpy==1.20.2
pandas==1.2.4
pickle5==0.0.11
plotly==4.14.3
preshed==3.0.5
python-telegram-bot==13.4.1
pytorch-crf==0.7.2
pytorch-pretrained-bert==0.6.2
pytz==2021.1
pyzmq==22.0.3
regex==2018.1.10
requests==2.25.1
requests-oauthlib==1.3.0
retrying==1.3.3
s3transfer==0.4.2
sacremoses==0.0.45
scikit-learn==0.24.1
scipy==1.6.3
scispacy==0.4.0
segtok==1.5.10
sentencepiece==0.1.95
six==1.15.0
smart-open==3.0.0
spacy==2.3.2
spacy-legacy==3.0.2
SQLAlchemy==1.4.11
sqlitedict==1.7.0
srsly==2.4.1
testpath==0.4.4
thinc==8.0.2
threadpoolctl==2.1.0
tokenizers==0.10.2
torch==1.8.1
tornado==6.1
tqdm==4.60.0
traitlets==5.0.5
transformers==4.5.1
tweepy==3.10.0
typer==0.3.2
typing-extensions==3.7.4.3
tzlocal==2.1
urllib3==1.26.4
wasabi==0.8.2
webencodings==0.5.1
wrapt==1.12.1
shap
sklearn
matplotlib
